@font-face {
  font-family: Courier;
  src: url(../fonts/arial.ttf) format(truetype);
}
.menu-top {
  width: 100%;
  height: 90px;
  background-color: black;
  > img {
    object-fit: cover;
    width: 100%;
    height: 20%;
  }
  .row {
    width: 100%;
    height: 100%;
    justify-content: center;
    > * {
      font-weight: bold;
      color: #d8b89c;
      font-size: 15px;
      line-height: 60px;
      cursor: pointer;
      margin: 0 30px;
      &:hover {
        color: #f5a156;
      }
      > span {
        font-size: 20px;
        margin: 0 10px;
      }
    }
  }
}
.header-fix {
  background-image: url(../img/hero-tattoo-bg-1.png);
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-position-x: 50%;
  height: 200vh;
  position: relative;
  > .menu {
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.877);
    border-top: 1px dashed rgb(85, 84, 84);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    > img {
      width: 300px;
      object-fit: cover;
      cursor: pointer;
    }
    > ul {
      display: flex;
      align-items: center;
      > li {
        margin: 0 25px;
            padding: 40px 0;
        > a {
          font-weight: bold;
          > i {
            margin-left: 10px;
            font-size: 10px;
          }
          &:hover {
            color: #f5a156;
          }
        }
        &:hover > ul {
          display: flex;
            flex-wrap: wrap;
        }
        > ul {
          width: 400px;
          height: fit-content;
          position: absolute;
          top: 100px;
          background-color: rgb(43, 43, 43);
            display: none;
          > li {
            width: 400px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 30px;
            padding: 10px;
            > a {
            width: 100%;
              height: 100%;
              color: white;
              position: relative;
              overflow: hidden;
              > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.6s;
                position: absolute;
                top: 0;
                left: 0;
                &:hover{
                  width: 105%;
                  left: -5%;
                  height: 105%;
                  top: -5%;
                }
              }
            }
          }
        }
      }
    }
    > a {
      font-weight: bold;
      padding: 25px 40px;
      background: linear-gradient(
        to right,
        rgb(73, 26, 26),
        rgb(121, 19, 19),
        rgb(94, 8, 8)
      );
      &:hover {
        background: linear-gradient(
          to left,
          rgb(73, 26, 26),
          rgb(151, 7, 7),
          rgb(94, 8, 8)
        );
      }
    }
  }
  .header {
    width: 100%;
    height: 60%;
    > div {
      width: 50%;
      height: 100%;
      padding-top: 150px;
      > * {
        color: white;
        padding-bottom: 80px;
      }
      > h1 {
        font-size: 50px;
        font-weight: bold;
      }
      h2 {
        font-size: 20px;
        line-height: 40px;
      }
      > a {
        font-weight: bold;
        padding: 25px 40px;
        background: linear-gradient(
          to right,
          rgb(73, 26, 26),
          rgb(121, 19, 19),
          rgb(94, 8, 8)
        );
        &:hover {
          background: linear-gradient(
            to left,
            rgb(73, 26, 26),
            rgb(151, 7, 7),
            rgb(94, 8, 8)
          );
        }
      }
    }
    > figure {
      width: 50%;
      height: fit-content;
      justify-content: space-between;
      animation: header 30s infinite;
      > img {
        width: 312px;
        height: 300px;
      }
      > span {
        width: 312px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 160px;
        color: #d8b89c;
        cursor: pointer;
        &:hover {
          color: #c2451f;
        }
      }
    }
  }
}
@keyframes header {
  25% {
    transform: translateX(-30px);
  }
  50% {
    transform: translatey(30px);
  }
  75% {
    transform: translatex(20px);
  }
  100% {
    transform: translatey(-10px);
  }
}
.banner2 {
  background-image: url(../img/grunge-bg-1.png);
  width: 100%;
  height: 400px;
  background-color: black;
  justify-content: space-between;
  > figure {
    width: 32%;
    height: 100%;
    padding: 30px 0;
    > * {
      line-height: 35px;
      padding: 40px 15px;
    }
    > figcaption {
      display: flex;
      align-items: center;
      color: white;
      font-size: 27px;
      text-align: center;
      > span {
        color: #d8b89c;
        font-size: 70px;
        line-height: 20px;
        &:hover {
          color: #c2451f;
        }
      }
    }
    > h3 {
      color: rgb(201, 200, 200);
      font-size: 17px;
    }
  }
}
.Design{
  margin-top: 100px;
  width: 100%;
  height: 120vh;
  >figure{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
    >img{
      width: 270px;
      height: 570px;
    }
  }
  >div{
    width: 50%;
    height: 100%;
    /* border: 1px solid rgb(121, 19, 19); */
    padding: 100px 80px;

    >*{
      padding-bottom: 30px;
    }
    >h2{
      font-weight: bold;
      font-size: 40px;
    }
    >h4{
      font-size: 17px;
      color: rgb(44, 44, 44);
    }
    >h5{
      color: rgb(44, 44, 44);
      font-size: 15px;
      >i{
          color: #c2451f;
          font-size: 40px;
      }
    }
    >h3{
      font-size: 20px;
      border-top: 1px dashed rgb(196, 195, 195);
      border-bottom: 1px dashed rgb(196, 195, 195);
      border-left: 5px solid #d8b89c;
      padding: 30px 20px;
      &:hover{
        border-left: 5px solid#c2451f;
      }
    }
  }
}
.border-img{
  background-color: black;
}
.Stylish{
  width: 100%;
  height: 400px;
  background-image: url(../img/download\ \(1\).svg) , url(../img/dotted-bg-1.png);
  background-color: #111111;
  background-size: cover;
  padding-top: 120px;
  >*{
    text-align: center;
  }
  >h4{
    color: #d8b89c;
    font-size: 20px;
    padding-bottom: 20px;
  }
  >h2{
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  >figure{
    padding-top: 150px;
    >img{
      width: 25%;
      height: 470px;
    }
    >div{
      width: 25%;
      height: 470px;
      background-color: #101010;
      padding: 40px 60px;
      transition:0.4s;
      &:nth-of-type(1){
      &:hover{
        background-color: rgb(46, 44, 44);
      }
    }
    &:nth-of-type(2){
      &:hover{
        background-color: rgb(87, 67, 67);
      }
    }
    &:nth-of-type(3){
      &:hover{
        background-color: rgb(46, 44, 44);
      }
    }
    &:nth-of-type(4){
      &:hover{
        background-color: rgb(87, 67, 67);
      }
    }
      >*{
        color: white;
        padding-bottom: 30px;
      }
      >span{
        color: #dfb590;
        font-size: 80px;
      }
      >h2{
        font-size: 30px;
      }
      >h4{
        font-size: 15px;
        padding-bottom: 100px;
      }
      >a{
        padding: 25px 40px;
        border: 2px solid rgb(180, 177, 177);
        position: relative;
        &:hover {
          &::after {
              clip-path: polygon(0 0, 150% 0, 100% 100%, 0 100%);
              background-color: #672B20;
          }
        }
        &::after {
          width: 100%;
          height: 100%;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: #672B20;
          clip-path: polygon(0 0, 0 0, -50% 100%, 0 100%);
          transition:0.4s;
      }
    }
    }
  }
}