@font-face {
    font-family: Courier;
    src: url(../fonts/arial.ttf)format(truetype);
}
.menu-top{
    width: 100%;
    height: 90px;
    background-color: black;
    >img{
        object-fit: cover;
        width: 100%;
        height: 20%;
    }
    .row{
        width: 100%;
        height: 100%;
        justify-content: center;
        >*{
            font-weight: bold;
            color: #d8b89c;
            font-size: 15px;
            line-height: 60px;
            cursor: pointer;
            margin: 0 30px;
            &:hover{
                color: #F5A156;
            }
            >span{
                font-size: 20px;
                margin: 0 10px;
            }
        }
    }
}
.header-fix{
    background-color: black;
    width: 100%;
    height: 150vh;
    position: relative;
    justify-content: center;
    >img{
        width: 70%;
        height: 70%;
        position: fixed;
        }
.menu{
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.425);
    border-top: 1px dashed rgb(85, 84, 84);
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    >img{
        width: 300px;
        object-fit: cover;
        cursor: pointer;
    }
    >ul{
        display: flex;
        align-items: center;
        >li{
            margin: 0 25px;
            >a{
                font-weight: bold;
                &:hover{
                    color: #F5A156;
                }
            }
        }
    }
    >a{
        font-weight: bold;
        padding: 25px 40px;
        background: linear-gradient(to right,rgb(110, 49, 49),rgb(151, 7, 7),rgb(199, 10, 10));
        &:hover{
            background: linear-gradient(to left,rgb(110, 49, 49),rgb(151, 7, 7),rgb(199, 10, 10))
        }
    }
}
}